Web/Connected Services/ServiceReference1/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Livro">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Autor">
        <xs:sequence>
          <xs:element minOccurs="0" name="CdLivro" type="xs:int" />
          <xs:element minOccurs="0" name="SinopseLivro" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TituloLivro" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Livro" nillable="true" type="tns:Livro" />
  <xs:complexType name="Autor">
    <xs:sequence>
      <xs:element minOccurs="0" name="NomeAutor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Autor" nillable="true" type="tns:Autor" />
  <xs:complexType name="ArrayOfLivro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Livro" nillable="true" type="tns:Livro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLivro" nillable="true" type="tns:ArrayOfLivro" />
</xs:schema>